.btn {
  border: none;
  border-radius: 4px;
  font-weight: 400;
  padding: 0.2rem 1rem;
  margin: 0.2rem 0.3rem;
  transition: all 0.2s;
  min-width: 5rem;
  cursor: pointer;

  &:hover:not(:disabled) {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 2px 0;
}

.spinner {
  width: 20px;
  height: 20px;
}
