.btn {
  border: none;
  border-radius: 4px;
  font-weight: 400;
  padding: 0.2rem 1rem;
  margin: 0.2rem 0.3rem;
  transition: all 0.2s;
  cursor: pointer;

  &:hover:not(:disabled) {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
