<div [class]="wrapperClass">
  <!-- Label -->
  @if (label) {
    <label [class]="labelClass">
      {{ label }}
      @if (required){<span class="text-red-500">*</span>}
    </label>
  }

  <!-- Input wrapper -->
  <div class="relative before:!hidden after:!hidden">
    <!-- Icon -->
    @if (icon) {
      <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <i [class]="icon"></i>
      </span>
    }

    <!-- Input -->
    <input
      [type]="type"
      [value]="value"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (input)="onInput($event)"
      (blur)="onBlur()"
      [class]="inputClass"
      [class.pl-10]="icon"
      [class.border-red-500]="hasError"
      [class.border-green-500]="success && !hasError"
    />
  </div>

  <!-- Error -->
  @if (hasError) {
    <p [class]="errorClass">
      {{ error }}
    </p>
  }
</div>
