<div class="bg-gray-100 p-12">
  <h2 class="text-3xl font-light">Get the FreshCart app</h2>
  <p class="text-lg font-light text-gray-600 my-3">
    We will send you a link, open it in your phone to download the app.
  </p>

  <form class="flex items-center mx-4">
    <label for="voice-search" class="sr-only">Search</label>
    <div class="relative w-full">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"></div>
      <input
        type="text"
        id="voice-search"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-green-500 focus:border-green-500 block w-full ps-3 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        placeholder="Email..."
        required
      />
      <button type="button" class="absolute inset-y-0 end-0 flex items-center pe-3"></button>
    </div>
    <button
      type="submit"
      class="inline-flex items-center justify-center py-2 px-3 min-w-[140px] ms-2 text-sm text-white bg-green-700 rounded-sm border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      Share App Link
    </button>
  </form>
  <div class="w-full h-[1px] my-6 bg-gray-200"></div>

  <div class="flex items-center justify-between">
    <div class="flex items-center justify-center space-x-4">
      <p>Payment Partners</p>
      <img src="/images/amazon-pay.png" class="h-2" alt="amazon" />
      <img src="/images/American-Express.png" class="h-5" alt="american express" />
      <img src="/images/mastercard.webp" class="h-4" alt="mastercard" />
      <img src="/images/paypal.png" class="h-5" alt="paypal" />
    </div>
    <div class="flex items-center justify-center space-x-2">
      <p>Get deliveries with FreshCart</p>
      <img src="/images/apple-store.png" class="h-7" alt="apple store" />
      <img src="/images/google-play.png" class="h-8" alt="google play" />
    </div>
  </div>

  <div class="w-full h-[1px] my-6 bg-gray-200"></div>
</div>
