.style_Navbar {
  text-decoration: none;
}

.active {
  color: green;
  // background: linear-gradient(#cecece 0%, #a7e090 100%);
  border-bottom: 2px solid green;
  // border-top: 2px solid rgb(146, 146, 146);
  border-radius: 0;
}
